<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Flask Form</title>
</head>
<body>
    <h1>Form</h1>
    <form id="myForm">
        <label for="address">Address:</label><br>
        <input type="text" id="address" name="address"><br><br>
        <label for="county">County:</label><br>
        <input type="text" id="county" name="county"><br><br>
        <input type="button" value="Submit" onclick="submitForm()">
    </form>
    <script src="./static/script.js" type="text/javascript"></script>
</body>
</html>
